{#
/**
 * @file microsite_entity.html.twig
 * Default theme implementation to present Microsite data.
 *
 * This template is used when viewing Microsite pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_microsite_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('microsite_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
