{#
/**
 * @file office_entity.html.twig
 * Default theme implementation to present Office data.
 *
 * This template is used when viewing Office pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_office_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('office_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
