{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 *
 * Define a custom macro that will render all menu trees.
 */
#}
{% macro menu_links(items, attributes, menu_level, classes, logged_in, user_picture) %}
  {% if items %}
    <ul{{ attributes.addClass(menu_level == 0 ? classes : 'dropdown-menu dropdown-list') }}>
      {% for item in items %}
        {%
          set item_classes = [
            menu_level == 0 ? 'nav-item',
            item.is_expanded and menu_level > 0 and item.below ? 'dropdown dropdown-submenu',
            item.is_expanded and menu_level == 0 and item.below ? 'dropdown',
            item.in_active_trail ? 'active',
          ]
        %}
        {% if menu_level == 0 and item.is_expanded and item.below %}
          <li{{ item.attributes.addClass(item_classes) }}>
            <a href="{{ item.url }}" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ item.title }}
          </a>
        {% elseif menu_level == 0 and not item.is_expanded and not item.below %}
          {% if item.title == 'My account' %}
            {% set item_classes = [
              'd-flex', 'align-content-center', 'flex-wrap', 'mr-4'
            ] %}
          {% endif %}
          <li{{ item.attributes.addClass(item_classes) }}>
              {% if item.title == 'My account' %}
                {% set user_classes = 'fa fa-user-circle user text-allports nounderline rounded-circle shadow-sm' %}
                {% if user_picture %}
                  <a href="{{ item.url }}" class="{{ user_classes }} user-picture" style="background-image: url('{{ user_picture }}')"></a>
                {% else %}
                  <a href="{{ item.url }}" class="{{ user_classes }}"></a>
                {% endif %}
              {% else %}
                <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
              {% endif %}
          {% else %}
            <li{{ item.attributes.addClass(item_classes) }}>
              <a href="{{ item.url }}" class="dropdown-item">{{ item.title }}</a>
          {% endif %}
          {% if item.below %}
            {{ _self.menu_links(item.below, attributes.removeClass(classes), menu_level + 1, classes) }}
        {% endif %}
        </li>
      {% endfor %}
      {% if logged_in %}
        <li class="d-flex align-content-center flex-wrap">
          {# Waffle menu that fills with tools, these are coming from a view #}
          <a class="waffle-tools" data-placement="bottom" data-toggle="popover" data-trigger="focus" tabindex="0"></a>
          <div class="d-none waffle-tools-container">
            {% set view = drupal_view_result('waffle_tools_list')|length %}
            {% if view > 0 %}
              {{ drupal_view('waffle_tools_list') }}
            {% endif %}
          </div>
        </li>
      {% endif %}
    </ul>
  {% endif %}
{% endmacro %}

        {#
  Invoke the custom macro defined above. If classes were provided, use them.
  This allows the template to be extended without having to also duplicate the
  code above. @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ _self.menu_links(items, attributes, 0, classes ? classes : ['menu', 'menu--' ~ menu_name|clean_class, 'navbar-nav'], logged_in, user_picture) }}
