{#
/**
 * @file hero_entity.html.twig
 * Default theme implementation to present Hero entity data.
 *
 * This template is used when viewing Hero entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_hero_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('hero_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
