{#
/**
 * @file birthday_entity.html.twig
 * Default theme implementation to present Birthday data.
 *
 * This template is used when viewing Birthday pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_birthday_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('birthday_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
